<!DOCTYPE html>
<html>
<head>
	<title>Calculator</title>
	<link rel="stylesheet" type="text/css" href="libs/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="libs/main.css">

<body>
		<div class="jumbotron" id="app">
			<div>
				<h3 class="head">Welcome to the Calculator App</h3>
				<br>
				<p>Please fill in the following details and press equals (=)</p>
				<input type="textbox" name="number1" placeholder="Enter the first number" id="number1" class="form-control" v-model="num1">
				<br>
				
				<input type="textbox" name="number2" placeholder="Enter the second number" id="number2" class="form-control" v-model="num2">
				<br>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<input type="radio" id="mul" value="mul" v-model="checker">
					<label for="multiplication">Multiplication</label> 
					<br>
					
					<input type="radio" id="add" value="add" v-model="checker">
					<label for="addition">Addition</label> 
					<br>
					
					<input type="radio" id="div" value="div" v-model="checker">
					<label for="division">Division</label> 
					<br>
					
					<input type="radio" id="sub" value="sub" v-model="checker">
					<label for="subtraction">Subtraction</label> 
					<br>
					
					<br>
					<button class="btn btn-primary" onclick="radioVal();">Equals <span>&#61;</span></button>
					<br>
			</div>
			<div class="col-sm-7 text-sm-center" >
				<h1>{{ finans }}</h1>
			</div>
		
		</div>
		<br>
		Copyright &#169; 2018 Amos Cheruiyot
	</div>	

<script type="text/javascript" src="libs/vue.js" ></script>
<script type="text/javascript" src="main.js" ></script>

</body>
</html>